<div class="form-container">
    <form [formGroup]="formGroup" (ngSubmit)="onFormSubmit(formGroup.value)" class="form-body flex-column">
        <mat-form-field appearance="outline">
            <mat-label>Text</mat-label>
            <textarea matInput [formControl]="text | formControl" required rows="8"
                      placeholder="Enter your text"></textarea>
        </mat-form-field>

        <div class="form-button-row flex-row">
            <div class="button-segment flex-column">
                <div class="choice-button-label">
                    Choose which characters to count
                </div>
                <mat-button-toggle-group [formControl]="mode | formControl" required class="m-0-auto">
                    <mat-button-toggle value="Vowels" aria-label="Count the vowels">
                        Vowels
                    </mat-button-toggle>

                    <mat-button-toggle value="Consonants" aria-label="Count the consonants">
                        Consonants
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>

            <div class="button-segment flex-column">
                <div class="choice-button-label">
                    Choose the operation mode
                    <span class="help-icon mat-elevation-z0"
                          matTooltip="TextWizard analyzes your text on our servers, which requires an active internet
                           connection. Alternatively, you can also run the analysis offline on your PC."
                          aria-label="TextWizard analyzes your text on our servers, which requires an active internet
                           connection. Alternatively, you can also run the analysis offline on your PC."
                          role="button"
                          matTooltipPosition="below">?</span>
                </div>
                <mat-button-toggle-group [formControl]="operationMode | formControl" required class="m-0-auto">
                    <mat-button-toggle value="online" aria-label="Perform the analysis online">
                        Online
                    </mat-button-toggle>

                    <mat-button-toggle value="offline" aria-label="Perform the analysis locally">
                        Offline
                    </mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>

        <button mat-stroked-button color="primary" [disabled]="!this.formGroup.valid" class="submit">
            Analyze my text
        </button>
    </form>
</div>
