.form-container {
    display: flex;
    padding: 0 20px;
}

.form-body {
    margin: 0 auto;
    width: max(600px, 50%);
}

.form-button-row {
    justify-content: space-around;
    gap: 10px;
}

@media (max-width: 768px) {
    .form-button-row {
        flex-direction: column;
        gap: 25px;
    }
}

mat-form-field {
    width: 100%;
}

button.submit {
    margin: 20px auto 0 auto;
    width: 90%;
}

.choice-button-label {
    text-align: center;
}

.help-icon {
    padding: 0 5px;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
}
