<h1 mat-dialog-title>There seems to be a problem</h1>

<div mat-dialog-content>
    We can't seem to reach our server at the moment. Would you like to switch to offline mode instead?
</div>

<div class="actions" mat-dialog-actions>
    <button mat-button color="warn" (click)="closeDialog(false)">No</button>
    <button mat-button color="primary" (click)="closeDialog(true)">Yes</button>
</div>
