mat-card {
    transition-property: transform, box-shadow;
    transition-duration: 250ms;

    cursor: pointer;
}

mat-card:hover {
    transform: scale(1.02);
    /* Equivalent to mat-elevation-z4 */
    box-shadow:0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
}

h3 {
    margin: 0 0 5px;

    font-weight: 500;
}

div.value {
    margin-bottom: 15px;
}
