<mat-card *ngIf="item">
    <mat-card-content>
        <h3>Text</h3>
        <div class="value">{{ item.request.text | summarizeText }}</div>

        <h3>Mode</h3>
        <div class="value">{{ item.request.mode }}</div>
    </mat-card-content>
</mat-card>
