<div class="row">
    <div class="column-large">
        <div class="header">
            <img class="logo" src="assets/textwizard.svg" alt="Text Wizard Logo"/>
        </div>

        <app-analysis-form (analysisComplete)="onAnalysisComplete($event)"
                           (analysisFailed)="onAnalysisFailed()"></app-analysis-form>

        <app-analysis-results *ngIf="result" [result]="result"></app-analysis-results>
    </div>

    <div class="column-small">
        <app-history-view></app-history-view>
    </div>
</div>

