.header {
    display: flex;
    margin-bottom: 20px;
}

.logo {
    margin: 20px auto 0 auto;
    max-width: min(480px, 90%);
}

.row {
    display: flex;
    flex-direction: row;
}

app-history-view {
    margin-top: 100px;
}

.column-large {
    width: 75%;
}

.column-small {
    width: 25%;
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
        align-content: center;
        gap: 25px;
    }

    app-history-view {
        margin-top: 0;
    }

    .column-large, .column-small {
        width: 100%;
    }
}
