<div class="card-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Here are the results</mat-card-title>
            <mat-card-subtitle>
                You asked for the {{ result?.request?.mode | lowercase }} in the given text.
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <table *ngIf="sortedResults.length > 0" matSort (matSortChange)="onSortChange($event)"
                   aria-describedby="Table containing the results of the analysis">
                <tr>
                    <th mat-sort-header="letter">Letter</th>
                    <th mat-sort-header="occurrences">Occurrences</th>
                </tr>

                <tr *ngFor="let item of sortedResults">
                    <td>{{ item.key }}</td>
                    <td>{{ item.value }}</td>
                </tr>
            </table>

            <div *ngIf="sortedResults.length === 0">
                It looks like there are no {{ result?.request?.mode | lowercase }} in your text.
            </div>

            <mat-divider></mat-divider>
        </mat-card-content>

        <mat-card-actions class="action-buttons">
            <button mat-button (click)="copyContents('csv')">Copy .csv</button>
            <button mat-button (click)="copyContents('json')">Copy .json</button>
        </mat-card-actions>
    </mat-card>
</div>
