.card-container {
    display: flex;
    padding: 0 20px;
}

mat-card {
    margin: 40px auto 0 auto;
    width: max(400px, 40%);
}

mat-card-content {
    margin-top: 20px;
}

.action-buttons {
    justify-content: flex-end;
}
