@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    margin: 0;
    height: 100%;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex-column {
    display: flex;
    flex-direction: column;
}


.flex-row {
    display: flex;
    flex-direction: row;
}

.m-0-auto {
    margin: 0 auto;
}
