<h2>Result history</h2>

<div class="history-items">
    <app-history-view-item *ngFor="let item of history" [item]="item" (click)="loadItem(item)">
    </app-history-view-item>
</div>

<mat-paginator (page)="onPageRequest($event)"
               [length]="analysisHistoryService.totalLength"
               [pageSize]="analysisHistoryService.pageSize"
               [hidePageSize]="true"
               [showFirstLastButtons]="true"
               [pageSizeOptions]="[]"
               [pageIndex]="analysisHistoryService.pageIndex">

</mat-paginator>
