:host {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
}

.history-items {
    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 20px;
}

mat-paginator {
    margin: 0 auto;
}
